body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

section {
    padding: 1rem;
}

form {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 0.5rem;
}

input[type="number"],
input[type="text"],
textarea,
input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navigation{
    color: #e20d0d;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    color: #afa1a1;
    margin-left: -90%;
    
    
    }
    .navigation a:hover{
        color: #52062f;
        text-decoration: none;
    }
    a:link{
        text-decoration: none;
    padding-left: 30px;
    
    padding-bottom: 10px;
     }
button:hover {
    background-color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
}

#average {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}
